@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

/* bannar style */ 
.banner{
    position: static;
    width: 1536px;
    height: 672px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 72px 60px 72px 120px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 96px 0px;
    border-radius: 28.8px;
    background: rgb(198, 228, 214);
}

.banner-title{color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 28.8px;
    font-weight: 500;
    line-height: 34.8px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 67.25px;
    font-weight: 900;
    line-height: 80.4px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-button{
    position: static;
    width: 324px;
    height: 67.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 20.4px 40.8px 20.4px 40.8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 28.8px 0px;
    border-radius: 9.6px;
    background: rgb(0, 106, 80);
}
.banner-img{
    width: 568.836px;
    height: 480px;flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 76.8px;
    padding: 96px 28px 96px 120px;
}
/* baner section ned */

/* donate section start  */
.donate{
    /* Frame 2087325516 */
position: static;
width: 1280px;
height: 464px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 80px 0px;
}

.donate h1{color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;

}
.donate p{width: 1104px;
    height: 48px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.main-button{
    /* Frame 2087325514 */
position: static;
width: 1071px;
height: 128px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;
text-decoration: none;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.donate-box> input{/* Frame 2087325514 */
    position: static;
    width: 1032px;
    height: 64px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
    text-align: center;box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}

.main-button> .button{
    /* Frame 2087325514 */
position: static;
width: 264px;
height: 128px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.donate-done{/* Frame 2 */
    position: static;
    width: 151px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;
    text-decoration: none;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.donate-done>a> button{
    /* Frame 2 */
position: static;
width: 151px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 32px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    
    background: rgb(0, 106, 80);}
    /* donate section end */